@model IEnumerable<AppProductImages.Models.ProductItemViewModel>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td style="width:auto">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="@item.PathImage.Last().Path" class="d-block w-25" alt="" />
                            </div>
                            @foreach (var img in item.PathImage)
                            {
                                <div class="carousel-item">
                                    <img src="@img.Path" class="d-block w-25" alt="" />
                                </div>
                            }
                        </div>
                    </div>

                </td>
                <td>
                    <div class="mx-auto my-auto" style="cursor:pointer">
                        <span class="text-danger deleteitem" data-element="@item.Id"><i class="fas fa-trash-alt fa-lg"></i></span>
                    </div>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fas fa-edit fa-lg"></i>
                    </a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script src="~/lib/axios/axios.min.js"></script>
    <script>
        $(function () {
            $(".deleteitem").on("click", function (e) {
                var id = $(e.target).closest("span").attr("data-element");
                axios.post(`/Product/Delete/${id}`)
                    .then(result => {
                        $(e.target).closest("tr").remove();
                    });
            });
        });
    </script>
}
